html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* --------úvodní stránka--------------- */

.uvodni {
  width: 450px;
  height: 660px;
  margin: 40px auto;
}

header {
  height: 260px;
}

header img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.sekce {
  height: 300px;
  background-color: #283e50;
  color: #ffffff;
}

h1 {
  font-size: 55px;
  font-weight: normal;
  text-align: center;
  font-family: 'Lobster', cursive;
  padding: 25px 0 20px 0;
  margin: 10px;
}

p {
  margin: 0 15px;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

nav {
  height: 100px;
}

.odkazy {
  margin: 0;
  padding: 0;
}

.odkazy li {
  display: block;
  font-family: sans-serif;
}

.odkazy a {
  display: block;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.odkazy__pravidla {
  font-size: 20px;
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.odkazy__pravidla a:hover {
  background-color: #1cbb96;
}

.odkazy__zacithrat {
  font-size: 20px;
  background-color: #0197f6;
}

.odkazy__zacithrat a:hover {
  background-color: #0090e9;
}

/* -------stránka s pravidly------- */
/* široká i velmi široká obrazovka */

.pravidla {
  width: 800px;
  height: 2150px;
  margin: 40px auto;
}

.pravidla-hry {
  height: 2050px;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

ol {
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;

  margin: 10px 35px 40px 35px;
}

ol li {
  padding: 8px 8px;
}

.kolecko,
.krizek {
  filter: invert(100%);
  width: 1em;
  height: 1em;
  margin: 8px 0 0 0;
}

.obrazky-hry {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.obrazky-hry img {
  width: 100%;
}

figure {
  width: 350px;
  margin: 0 20px 30px 20px;
}

figcaption {
  width: 345px;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  margin: 10px 0;
}

nav {
  height: 100px;
}

.odkazy-pravidla {
  margin: 0;
  padding: 0;
}

.odkazy-pravidla li {
  display: block;
  font-family: sans-serif;
}

.odkazy-pravidla a {
  display: block;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.odkazy-pravidla__uvodni {
  font-size: 20px;
  background-color: #1fcca4;
  border-bottom: 1px solid black;
}

.odkazy-pravidla__uvodni a:hover {
  background-color: #1cbb96;
}

.odkazy-pravidla__zacithrat {
  font-size: 20px;
  background-color: #0197f6;
}

.odkazy-pravidla__zacithrat a:hover {
  background-color: #0090e9;
}

/* -------stránka s hrou------- */
/* široká i velmi široká obrazovka */

.hra {
  max-width: 80vmin;
  margin: 40px auto;
}

.menu {
  height: 10%;
}

.nadpis-hra {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.menu__info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.hraje {
  margin: 22px 0 auto;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
}

.odkazy-hra__uvodni {
  background-color: #1fcca4;
  border-radius: 5px;
}

.odkazy-hra__uvodni a:hover {
  background-color: #1cbb96;
  border-radius: 5px;
}
.odkazy-hra__uvodni a:focus {
  background-color: #1cbb96;
  border-radius: 5px;
}

.odkazy-hra__restart {
  background-color: #0197f6;
  border-radius: 5px;
}

.odkazy-hra__restart a:hover {
  background-color: #0090e9;
  border-radius: 5px;
}
.odkazy-hra__restart a:focus {
  background-color: #0090e9;
  border-radius: 5px;
}

.odkazy-hra li {
  display: inline-block;
}

.odkazy-hra a {
  display: block;
  padding: 9px;
  text-align: center;
}

.pole {
  min-height: 80vmin;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.policko {
  width: 10%;
  border: 1px solid black;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

.policko:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.policko:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

/* --úzká obrazovka-- */
@media (max-width: 540px) {
  .uvodni {
    width: 320px;
    height: 680px;
    margin: 40px auto;
  }

  .obrazek {
    height: 180px;
  }

  .sekce {
    height: 400px;
  }
  body {
    width: 320px;
    margin: 0 auto;
  }
  .pravidla {
    width: 320px;
    height: 3750px;
    margin: 0 auto;
  }

  .pravidla-hry {
    height: 3650px;
  }

  .obrazky-hry {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  figure {
    width: 270px;
  }
  figcaption {
    width: 270px;
  }
}
